@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

.wrapper {
  margin: 0 auto;
  max-width: 650px;
}

.blogpost {
  display: flex;
  flex-direction: column;
  color: rgb(54, 54, 54);
  font-size: 1.04em;
  letter-spacing: 0.8px;
  font-optical-sizing: auto;
  justify-content: center;
  font-family: 'system';
}

.blogpost p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.blogpost a {
  text-decoration: none;
  color: rgb(96, 87, 170);
}

.blogpost a:hover {
  text-decoration: underline;
  color: rgb(96, 79, 226);
}
