.link {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

.link h2 {
  font-size: 1.4em;
  color: rgb(113, 41, 128);
  font-weight: 900;
  margin-bottom: 5px;
}

.post-wrap {
  display: grid;
  grid-auto-columns: 0.8fr;
  justify-content: center;
}

.post-list {
  margin: 2rem 0;
  border-radius: 3px;
}
.post-list span {
  font-weight: 100;
  font-size: 0.8em;
  color: #222;
}
.post-list p {
  font-weight: 300;
  font-size: 0.9em;
  color: #222;
}
